.app-container {
  background-image: url("../assets/bg-light.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
  color: #444;
}

.search-section {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
}

.country-input {
  padding: 10px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  margin-right: 10px;
  width: 100%;
}

.search-button {
  padding: 10px 15px;
  background-color: #6a3cb2;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.weather-info h1 {
  font-size: 150px;
  color: #804dcf;
  margin: 0;
}

.weather-details p,
.weather-status p {
  margin: 5px 0;
}

.weather-status {
  margin-top: -28px;
}

.weather-status p {
  display: flex;
  align-items: end;
  flex-direction: column;
  text-transform: capitalize;
}

.error-box {
  color: red;
  background: #fdd;
  border: 1px solid red;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.history-section {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.history-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.history-list li {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 30px;
  margin-top: 125px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
}

.weather-info::after {
  content: "";
  background-image: url("../assets/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -78px;
  right: 20px;
  width: 157px;
  height: 157px;
  z-index: 1;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
}

.cloud::after {
  background-image: url("../assets/sun.png");
}

.weather-info {
  z-index: 2;
  flex: 1;
  width: 100%;
}

.history-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.weather-details-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

svg.button {
  fill: grey;
}

.time {
  display: none;
}

.timeLabel {
  display: block;
}

@media (min-width: 900px) {
  .cloud::after,
  .weather-info::after {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .cloud::after,
  .weather-info::after {
    width: 300px;
    height: 300px;
  }

  .weather-status {
    margin-top: 0;
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 16px;
    align-items: end;
  }

  .weather-details {
    font-size: 16px;
  }

  .weather-status p {
    flex-direction: row;
    align-items: center;
  }

  .time {
    display: block;
  }

  .timeLabel {
    display: none;
  }
}
